<p id="notice"><%= notice %></p>

<div class="physician">
    <h2><%= @physician.Name %></h2>
    <h3>Specialty: <%= @physician.Specialty %></h3>
</div>

<hr>

<h3>Office Locations</h3>
<div class="location-table">
    <table class="blueTable">
      <tbody>
        <tr>
            <th>Street Address</th>
            <th>Zip Code</th>
            <th>Phone</th>
        </tr>
        <% @physician.office_locations.each do |office_location| %>
          <tr>
            <td><%= office_location.street_address %></td>
            <td><%= office_location.zip %></td>
            <td><%= office_location.phone %></td>
          <tr>
        <% end %>
      </tbody>
    </table>
</div>

<h3>Current Appointments</h3>
<div class="location-table">
    <table class="blueTable">
      <tbody>
        <tr>
            <th>Patient Name</th>
            <th>Date of Appointment</th>
        </tr>
        <% @physician.appointments.each do |appointment| %>
          <tr>
            <td><%= appointment.patient.Name %></td>
            <td><%= appointment.visit.strftime("%B #{appointment.visit.day.ordinalize}, %Y %H:%M") %></td>
          <tr>
        <% end %>
      </tbody>
    </table>
</div>


<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
